body{
  background-color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: #fff;
}

h2{
  padding-left: 150px;
}

p{
  font-size: 1.5em;
}

li{
  font-family: "Times New Roman", Georgia, Serif;
}

span {
  overflow:auto;
  margin:0px;
  color:#0150c7;
}

#codigo, .esquema{
  background-color: #fff;
  width: 100%;
  float: left;
  border: 2px solid #fa0;
  color: brown;
}


#codigo ol li{
  font-family: Consolas,"courier new";
}
