@font-face{
    font-family: 'Fira Sans';
    src: url('Fira-master/eot/FiraSans-Hair.eot');
    src: url('Fira-master/eot/FiraSans-Hair.eot') format('embedded-opentype'),
         url('Fira-master/woff2/FiraSans-Hair.woff2') format('woff2'),
         url('Fira-master/woff/FiraSans-Hair.woff') format('woff'),
         url('Fira-master/ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

h1{
  color: purple;
  text-align: center;
}

h2, h3{
  padding-left: 150px;
}

p, .lista{
  font-size: 1.5em;
  line-height: 120%;
}

li{
  font-family: "Times New Roman", Georgia, Serif;
  padding: 5px;
}

span {
  overflow:auto;
  margin:0px;
  color:#0150c7;
  font-family: Consolas,"courier new";
}

div{
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 5px solid #f6f;
  border-radius: 10px;
}

iframe{
  padding: 20px;
}

#codigo, .esquema{
  background-color: #fff;
  width: 100%;
  float: left;
  border: 2px solid #fa0;
  color: brown;
}


#codigo ol li{
  font-family: Consolas,"courier new";
}

footer {
  padding-top: 20px;
  margin-left: 0px;
  width: 100%;
  height: 40px;
  background: #6cf;
  display: inline-block;
  position: relative;
  text-align: center;
}

.fira{
  font-family: 'Fira Sans';
	font-size: 36px;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

.caja1{
  font-style: italic;
  text-decoration: underline;
  color: #00a;
  background: #fceabb;
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}

.caja2{
  background-color: cyan;
}

.caja3{
  background-color: #fa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

}

#fecha{
  text-align: center;
  font-size: 30px;
  color: deeppink;
}

.letras{
  list-style-type: lower-alpha;
}
