@font-face{
    font-family: 'Fira Sans';
    src: url('Fira-master/eot/FiraSans-Hair.eot');
    src: url('Fira-master/eot/FiraSans-Hair.eot') format('embedded-opentype'),
         url('Fira-master/woff2/FiraSans-Hair.woff2') format('woff2'),
         url('Fira-master/woff/FiraSans-Hair.woff') format('woff'),
         url('Fira-master/ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: purple;
}

h2, h3{
  padding-left: 150px;
}

p, .lista{
  font-size: 1.5em;
  line-height: 120%;
}

li{
  font-family: "Times New Roman", Georgia, Serif;
  padding: 5px;
}

span {
  overflow:auto;
  margin:0px;
  color:#0150c7;
  font-family: Consolas,"courier new";
}

#codigo, .esquema{
  background-color: #fff;
  width: 100%;
  float: left;
  border: 2px solid #fa0;
  color: brown;
}


#codigo ol li{
  font-family: Consolas,"courier new";
}

footer {
  padding-top: 20px;
  padding-left: 40%;
  margin-left: -8px;
  width: 100%;
  height: 40px;
  background: #6cf;
  display: inline-block;
  position: relative;

}

.fira{
  font-family: 'Fira Sans';
	font-size: 36px;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
